USE [master]
GO
/****** Object:  Database [EczaneDB]    Script Date: 5/15/2024 11:23:30 AM ******/
CREATE DATABASE [EczaneDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'EczaneDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\EczaneDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'EczaneDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\EczaneDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [EczaneDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [EczaneDB]
GO
/****** Object:  Table [dbo].[Doktor]    Script Date: 5/15/2024 11:23:31 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Doktor](
	[doktorID] [int] IDENTITY(1,1) NOT NULL,
	[ad] [nvarchar](100) NULL,
	[soyad] [nvarchar](100) NULL,
	[unvanID] [int] NULL,
 CONSTRAINT [PK__Doktorla__77AFB9414E207B8B] PRIMARY KEY CLUSTERED 
(
	[doktorID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DoktorUnvan]    Script Date: 5/15/2024 11:23:31 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DoktorUnvan](
	[unvanID] [int] IDENTITY(1,1) NOT NULL,
	[ad] [nvarchar](50) NULL,
 CONSTRAINT [PK_DoktorUnvan] PRIMARY KEY CLUSTERED 
(
	[unvanID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ilac]    Script Date: 5/15/2024 11:23:31 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ilac](
	[ilacID] [int] IDENTITY(1,1) NOT NULL,
	[ad] [nvarchar](100) NULL,
	[aciklama] [nvarchar](255) NULL,
	[fiyat] [money] NULL,
	[stokMiktar] [int] NULL,
	[silindiMi] [bit] NULL,
 CONSTRAINT [PK__Ilaclar__22000D1750581FA8] PRIMARY KEY CLUSTERED 
(
	[ilacID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Kullanici]    Script Date: 5/15/2024 11:23:31 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Kullanici](
	[kullaniciID] [int] IDENTITY(1,1) NOT NULL,
	[rolID] [int] NULL,
	[ad] [nvarchar](50) NULL,
	[soyad] [nvarchar](50) NULL,
	[kullaniciAd] [nvarchar](50) NULL,
	[sifre] [nvarchar](50) NULL,
	[telefon] [nvarchar](50) NULL,
	[ePosta] [nvarchar](50) NULL,
	[silindiMi] [bit] NULL,
 CONSTRAINT [PK__Kullanic__E011F09B97AE2DB7] PRIMARY KEY CLUSTERED 
(
	[kullaniciID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KullaniciRol]    Script Date: 5/15/2024 11:23:31 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KullaniciRol](
	[kullaniciRolID] [int] IDENTITY(1,1) NOT NULL,
	[ad] [nvarchar](50) NULL,
 CONSTRAINT [PK__Kullanic__F316AD49C2F778BC] PRIMARY KEY CLUSTERED 
(
	[kullaniciRolID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Musteri]    Script Date: 5/15/2024 11:23:31 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Musteri](
	[musteriID] [int] IDENTITY(1,1) NOT NULL,
	[adSoyad] [nvarchar](100) NOT NULL,
	[identityNumber] [nvarchar](11) NOT NULL,
	[telefon] [nvarchar](20) NOT NULL,
	[adres] [nvarchar](255) NOT NULL,
 CONSTRAINT [PK__Musteril__72624471C5321AB7] PRIMARY KEY CLUSTERED 
(
	[musteriID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Recete]    Script Date: 5/15/2024 11:23:31 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Recete](
	[receteID] [int] IDENTITY(1,1) NOT NULL,
	[doktorID] [int] NULL,
	[musteriID] [int] NULL,
	[receteNo] [nvarchar](50) NULL,
	[ilacID] [int] NULL,
	[miktar] [int] NULL,
	[tarih] [smalldatetime] NULL,
 CONSTRAINT [PK__Recetele__02D0477B08500445] PRIMARY KEY CLUSTERED 
(
	[receteID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Satis]    Script Date: 5/15/2024 11:23:31 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Satis](
	[satisID] [int] IDENTITY(1,1) NOT NULL,
	[ilacID] [int] NULL,
	[receteID] [int] NULL,
	[musteriID] [int] NULL,
	[calisanID] [int] NULL,
	[satisTarih] [smalldatetime] NULL,
	[miktar] [int] NULL,
	[fiyat] [money] NULL,
 CONSTRAINT [PK__Satislar__80CB4CFF989A32E9] PRIMARY KEY CLUSTERED 
(
	[satisID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Doktor] ON 

INSERT [dbo].[Doktor] ([doktorID], [ad], [soyad], [unvanID]) VALUES (1, N'Ahmet', N'Yılmaz', 2)
INSERT [dbo].[Doktor] ([doktorID], [ad], [soyad], [unvanID]) VALUES (2, N'Ayşe', N'Kaya', 3)
INSERT [dbo].[Doktor] ([doktorID], [ad], [soyad], [unvanID]) VALUES (3, N'Mehmet', N'Demir', 4)
SET IDENTITY_INSERT [dbo].[Doktor] OFF
GO
SET IDENTITY_INSERT [dbo].[DoktorUnvan] ON 

INSERT [dbo].[DoktorUnvan] ([unvanID], [ad]) VALUES (1, N'Pratisyen Doktor')
INSERT [dbo].[DoktorUnvan] ([unvanID], [ad]) VALUES (2, N'Uzman Doktor')
INSERT [dbo].[DoktorUnvan] ([unvanID], [ad]) VALUES (3, N'Başhekim')
SET IDENTITY_INSERT [dbo].[DoktorUnvan] OFF
GO
SET IDENTITY_INSERT [dbo].[Ilac] ON 

INSERT [dbo].[Ilac] ([ilacID], [ad], [aciklama], [fiyat], [stokMiktar], [silindiMi]) VALUES (1, N'Parol', N'Baş ağrısı için kullanılır', 105.0000, 100, 0)
INSERT [dbo].[Ilac] ([ilacID], [ad], [aciklama], [fiyat], [stokMiktar], [silindiMi]) VALUES (2, N'Apranax', N'Ağrı ve iltihap için kullanılır', 155.0000, 50, 0)
INSERT [dbo].[Ilac] ([ilacID], [ad], [aciklama], [fiyat], [stokMiktar], [silindiMi]) VALUES (3, N'Nebilox', N'Yüksek tansiyon için kullanılır', 200.0000, 75, 0)
SET IDENTITY_INSERT [dbo].[Ilac] OFF
GO
SET IDENTITY_INSERT [dbo].[Kullanici] ON 

INSERT [dbo].[Kullanici] ([kullaniciID], [rolID], [ad], [soyad], [kullaniciAd], [sifre], [telefon], [ePosta], [silindiMi]) VALUES (1, 2, N'Ali', N'Yılmaz', N'ali.yilmaz', N'123456', N'5551234567', N'ali.yilmaz@example.com', 0)
INSERT [dbo].[Kullanici] ([kullaniciID], [rolID], [ad], [soyad], [kullaniciAd], [sifre], [telefon], [ePosta], [silindiMi]) VALUES (2, 2, N'Ayşe', N'Kaya', N'ayse.kaya', N'654321', N'5552345678', N'ayse.kaya@example.com', 0)
INSERT [dbo].[Kullanici] ([kullaniciID], [rolID], [ad], [soyad], [kullaniciAd], [sifre], [telefon], [ePosta], [silindiMi]) VALUES (3, 1, N'Mehmet', N'Demir', N'mehmet.demir', N'abcdef', N'5553456789', N'mehmet.demir@example.com', 0)
SET IDENTITY_INSERT [dbo].[Kullanici] OFF
GO
SET IDENTITY_INSERT [dbo].[KullaniciRol] ON 

INSERT [dbo].[KullaniciRol] ([kullaniciRolID], [ad]) VALUES (1, N'Yönetici')
INSERT [dbo].[KullaniciRol] ([kullaniciRolID], [ad]) VALUES (2, N'Personel')
SET IDENTITY_INSERT [dbo].[KullaniciRol] OFF
GO
SET IDENTITY_INSERT [dbo].[Musteri] ON 

INSERT [dbo].[Musteri] ([musteriID], [adSoyad], [identityNumber], [telefon], [adres]) VALUES (1, N'Ali Yılmaz', N'12345678901', N'5551234567', N'İstanbul')
INSERT [dbo].[Musteri] ([musteriID], [adSoyad], [identityNumber], [telefon], [adres]) VALUES (2, N'Ayşe Kaya', N'23456789012', N'5552345678', N'Ankara')
INSERT [dbo].[Musteri] ([musteriID], [adSoyad], [identityNumber], [telefon], [adres]) VALUES (3, N'Fatma Demir', N'34567890123', N'5553456789', N'İzmir')
SET IDENTITY_INSERT [dbo].[Musteri] OFF
GO
SET IDENTITY_INSERT [dbo].[Recete] ON 

INSERT [dbo].[Recete] ([receteID], [doktorID], [musteriID], [receteNo], [ilacID], [miktar], [tarih]) VALUES (1, 1, 13, N'EC92CF9', 8, 5, CAST(N'2024-05-15T10:00:00' AS SmallDateTime))
INSERT [dbo].[Recete] ([receteID], [doktorID], [musteriID], [receteNo], [ilacID], [miktar], [tarih]) VALUES (2, 1, 4, N'BFD4058', 17, 7, CAST(N'2024-05-15T11:00:00' AS SmallDateTime))
INSERT [dbo].[Recete] ([receteID], [doktorID], [musteriID], [receteNo], [ilacID], [miktar], [tarih]) VALUES (3, 5, 9, N'8099072', 12, 3, CAST(N'2024-05-15T12:00:00' AS SmallDateTime))
SET IDENTITY_INSERT [dbo].[Recete] OFF
GO
SET IDENTITY_INSERT [dbo].[Satis] ON 

INSERT [dbo].[Satis] ([satisID], [ilacID], [receteID], [musteriID], [calisanID], [satisTarih], [miktar], [fiyat]) VALUES (1, 1, 1, 1, 1, CAST(N'2024-05-15T00:00:00' AS SmallDateTime), 3, 30.0000)
INSERT [dbo].[Satis] ([satisID], [ilacID], [receteID], [musteriID], [calisanID], [satisTarih], [miktar], [fiyat]) VALUES (2, 2, 2, 2, 2, CAST(N'2024-05-15T00:00:00' AS SmallDateTime), 2, 25.0000)
INSERT [dbo].[Satis] ([satisID], [ilacID], [receteID], [musteriID], [calisanID], [satisTarih], [miktar], [fiyat]) VALUES (3, 3, 3, 3, 3, CAST(N'2024-05-16T00:00:00' AS SmallDateTime), 1, 15.0000)
SET IDENTITY_INSERT [dbo].[Satis] OFF
GO
ALTER TABLE [dbo].[Doktor] ADD  CONSTRAINT [DF_Doktor_unvanID]  DEFAULT ((1)) FOR [unvanID]
GO
ALTER TABLE [dbo].[Kullanici] ADD  CONSTRAINT [DF_Kullanici_rolID]  DEFAULT ((1)) FOR [rolID]
GO
ALTER TABLE [dbo].[Recete] ADD  CONSTRAINT [DF_Recete_miktar]  DEFAULT ((1)) FOR [miktar]
GO
ALTER TABLE [dbo].[Recete] ADD  CONSTRAINT [DF_Recete_tarih]  DEFAULT (getdate()) FOR [tarih]
GO
ALTER TABLE [dbo].[Satis] ADD  CONSTRAINT [DF_Sastis_satisTarih]  DEFAULT (getdate()) FOR [satisTarih]
GO
ALTER TABLE [dbo].[Satis] ADD  CONSTRAINT [DF_Sastis_miktar]  DEFAULT ((1)) FOR [miktar]
GO
ALTER TABLE [dbo].[Doktor]  WITH CHECK ADD  CONSTRAINT [FK_Doktor_DoktorUnvan] FOREIGN KEY([unvanID])
REFERENCES [dbo].[DoktorUnvan] ([unvanID])
GO
ALTER TABLE [dbo].[Doktor] CHECK CONSTRAINT [FK_Doktor_DoktorUnvan]
GO
ALTER TABLE [dbo].[Kullanici]  WITH CHECK ADD  CONSTRAINT [FK_Kullanici_KullaniciRol] FOREIGN KEY([rolID])
REFERENCES [dbo].[KullaniciRol] ([kullaniciRolID])
GO
ALTER TABLE [dbo].[Kullanici] CHECK CONSTRAINT [FK_Kullanici_KullaniciRol]
GO
ALTER TABLE [dbo].[Recete]  WITH CHECK ADD  CONSTRAINT [FK_Recete_Doktor] FOREIGN KEY([doktorID])
REFERENCES [dbo].[Doktor] ([doktorID])
GO
ALTER TABLE [dbo].[Recete] CHECK CONSTRAINT [FK_Recete_Doktor]
GO
ALTER TABLE [dbo].[Recete]  WITH CHECK ADD  CONSTRAINT [FK_Recete_Ilac] FOREIGN KEY([ilacID])
REFERENCES [dbo].[Ilac] ([ilacID])
GO
ALTER TABLE [dbo].[Recete] CHECK CONSTRAINT [FK_Recete_Ilac]
GO
ALTER TABLE [dbo].[Recete]  WITH CHECK ADD  CONSTRAINT [FK_Recete_Musteri] FOREIGN KEY([musteriID])
REFERENCES [dbo].[Musteri] ([musteriID])
GO
ALTER TABLE [dbo].[Recete] CHECK CONSTRAINT [FK_Recete_Musteri]
GO
ALTER TABLE [dbo].[Satis]  WITH CHECK ADD  CONSTRAINT [FK_Sastis_Ilac] FOREIGN KEY([ilacID])
REFERENCES [dbo].[Ilac] ([ilacID])
GO
ALTER TABLE [dbo].[Satis] CHECK CONSTRAINT [FK_Sastis_Ilac]
GO
ALTER TABLE [dbo].[Satis]  WITH CHECK ADD  CONSTRAINT [FK_Sastis_Kullanici] FOREIGN KEY([calisanID])
REFERENCES [dbo].[Kullanici] ([kullaniciID])
GO
ALTER TABLE [dbo].[Satis] CHECK CONSTRAINT [FK_Sastis_Kullanici]
GO
ALTER TABLE [dbo].[Satis]  WITH CHECK ADD  CONSTRAINT [FK_Sastis_Musteri] FOREIGN KEY([musteriID])
REFERENCES [dbo].[Musteri] ([musteriID])
GO
ALTER TABLE [dbo].[Satis] CHECK CONSTRAINT [FK_Sastis_Musteri]
GO
USE [master]
GO
