
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Layout.cshtml";
}


<div class="content">
    <div class="container-fluid">
        <div class="row">
            <img src="~/İmages/eczane.jpg" alt="Description of your image" width="1650" height="800">
        </div>
    </div>
</div>