
@{
    ViewBag.Title = "ReceteNoGir";
    Layout = "~/Views/Shared/Layout.cshtml";
}

@{
    ViewBag.Title = "Reçete Numarası Gir";
}

<h2>Reçete Numarası Gir</h2>

@using (Html.BeginForm("ReceteNoGir", "Satis", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="form-group">
        @Html.Label("Reçete No")
        @Html.TextBox("receteNo", null, new { @class = "form-control" })
    </div>

    <button type="submit" class="btn btn-primary">Devam Et</button>
}

